/*--------------------Reset de stilos del home------------------*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--------------------Variables------------------*/
:root {
    --color-primary: #f5f5f5;
    --color-secondary: #b21f2d;
    --color-tertiary: #004085;
    --color-quaternary: #9fcdff;
    --color-accent: #424242;
}

/*--------------------Estilos del body------------------*/

/*---------------------Estilos del navbar------------------*/
.imagen-logo {
    width: 150px;
    height: auto;
}


